<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DivingApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".ui.RegisterActivity"/>-->
        <activity android:name=".ui.createNewDive.NewDiveLogActivity"/>
<!--        <activity android:name=".ui.home.HomeActivity"/>-->
        <activity android:name=".ui.createNewDive.NewDiveActivity"/>
        <activity android:name=".ui.diveHistory.ActivityShowTables"/>
        <activity android:name=".ui.createNewDive.NewDiveDetailsActivity"/>
        <activity android:name=".ui.createNewDive.NewDiveDivingMethodActivity"/>
        <activity android:name=".ui.createNewDive.NewDiveEquipmentCheck"/>
        <activity android:name=".ui.createNewDive.NewDiveReadyToDiveActivity"/>
        <activity android:name=".ui.home.HistoryActivity"/>
        <activity android:name=".ui.diveHistory.DiveActivityDetails"/>
        <activity android:name=".ui.notifications.ActivityCreateJob"/>
        <activity android:name=".ui.notifications.ActivityJobList"/>
        <activity android:name=".ui.profile.AdminActivity"/>
        <activity android:name=".ui.RegisterActivity"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8589992377871541~9946538868"/>
    </application>

</manifest>